@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
}

:root{
    --primary-color: #FF42A5;
}

/* shared */
.text-primary{
    color: var(--primary-color);
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: auto 240px;
}

.nav-log{
    width: 80px;
    height: 40px;
}

.nav-logo-title{
    font-size: 45px;
    font-weight: 700;
}

nav > ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

nav > ul a{
    text-decoration: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.nav-button{
    border-radius: 8px;
    border: 0;
    padding: 5px;
    line-height: 1;
    background: rgba(11, 2, 35, 0.10);
}